.text {
    color:rgb(138, 138, 138);
    text-align: center;
}

.ching {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.signInText {
    text-align:center;
    margin-bottom: 1%;
}

.signUpButton {
    margin: 0 auto;
    display: block;
    text-align:center;
}