
.message {
    padding: 8px;
    max-width: 400px;
    margin: 4px 8px;
}
.messages{
    display: flex;
    flex-direction: column;
    margin: 8px;
}
.messageContainer{
    display: flex;
    flex-direction: row; 
}

.blue {
    display: flex;
    align-self: flex-end;
    background-color: #2196f3;
    border-radius: 4px;

}

.green {
    display: flex;
    align-self: flex-start;
    background-color: #64dd17;
    border-radius: 4px;

}

