.friendsListBlock {
    margin-left: 40%;
    margin-right: 40%;
}

.friendsAvatar {
    margin-right: 1%;
    display: inline;
}

.profile{
    background-color: #fad881;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 8px;
    border: none;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.profile:hover{
    background-color: #42464e; /* Green */
    color: white;
    width: 100%;
}
.hovered {
    background-color: #42464e; /* Green */
}

.friendInfo {
    margin-top: 4px;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

.friendName {
    text-align:left;
    font-size: 16px;
    margin-left: 8px;
    margin-top: 10px;
    display: inline;
}

.friendBio {
    display: flex;
    justify-content: right;
    font-size: 12px;
    margin-left: 8px;
}

.friendBday {
    display: flex;
    justify-content: right;
    text-align:right;
    font-size: 12px;
    margin-left: 8px;
}

.pageTitle {
    text-align:center;
    margin-top: 5px;
    margin-bottom: 8px;
}

.signOutButton {
    margin-top: 18px;
    margin-bottom: 8px;
    text-align: center;
}

.addFriend {
    text-align: center;
}

.addFriendButton {
    margin-left: 15px !important;
    margin-top: 25px !important;
}

.friendsContainer {
    background-color: #fff4a4;
    height: 100vh;
}