.welcome {
    text-align: center;
    margin-top: 2%;
}
.directions {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}
.formContainer {
    margin-left: 30%;
    margin-right: 30%;
}

.initialProfileSetupContainer {
    background-color: #fff4a4;
    height: 100vh;
}