.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
}

.chatContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    width: 75%;
    height: 100%;
    background-color: #37393e;
}
.friendsListContainer {
    background-color: #fff4a4;
    display: flex;
    flex-direction: column;
    width: 25%;

}

.friendsListHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #474d54;
    border-bottom: 1px solid;
    border-bottom-color: #37393e;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.newChatButtonContainer {
    display: flex;
    justify-content:  center;
}

.chat{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 8px;
    border: none;
    background-color: inherit;
    margin: 2px;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 10px;
    width: 100%;
    height: 60px;
}

.chat:hover{
    background-color: #1d84f4;
    color: white;
    width: 100%;
}
.active {
    background-color: #1d84f4; 
    color: white;
}
.chatText{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    font-size: 16px;
    margin-left: 16px;
    margin-top: 12px;
}

