.signUpForm {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

.signUpText {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.MuiButtonBase-root {
    margin-left: auto;
    margin-right: auto;
}

.signInButton {
    text-align: center;
}

.signUpContainer {
    background-color: #fff4a4;
    height: 100vh;
}